.passenger {
    background-color: $thirdly-color;
}

.passenger .container {
    background-color: $thirdly-color;
    // background-image: url(../images/bc.jpg);
    // background-repeat: repeat;
    padding: 20px 0;
}

.passenger-header__space {
    @include box;
}

.passenger__header {
    @include headers-h3;
    line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .passenger-header__space {
    @include box768;
  }
  .passenger__header {
    @include headers-h3-768;
}
}