<%- include('header') %>

    <section class="login-support">
      <div class="container">
        <div class="login-support__space">
          <div class="login-support__welcome">
            <span class="login-support__hello">Witaj&#44; jesteś zalogowany jako&#58;</span>
            <span class="login-support__login"></span>
          </div>
          <button type="button" class="login-support__btn"><span class="login-support__title">Wyloguj</span></button>
        </div>
      </div>
    </section>

<main class="main">

  
    <!-- ==================HERO==================== -->
    <section class="hero">
      <div class="container">
        <div class="hero__space">
          <h2 class="hero__header">Let&#39;s go together&#8230;</h2>
          <h2 class="hero__header hero__header-second">&#8230;to work&#8230;</h2>
          <h2 class="hero__header hero__header-third">&#8230;to home</h2>
        </div>
      </div>
    </section>
    <!-- ==================END HERO==================== -->

    <!-- ==================ABOUTE==================== -->
    <section class="aboute">
      <div class="container">
        <p class="aboute__description">
          Aplikacja służy wspólnemu celowi jako podzielenie się kosztami
          dotarcia do pracy i &#47;lub z powrotem
        </p>
        <p class="aboute__description-second">
          Wybierz czy chcesz zgłosić się jako kierowca czy skorzystać z
          transportu jako pasażer. Lub po prostu przeglądaj swoje trasy.
        </p>
      </div>
    </section>
    <!-- ==================END ABOUTE==================== -->

    <!-- ==================REPORT==================== -->
    <section class="report">
      <div class="container">
        <div class="report__driver"> 
          <button class="button-big">
            <a href="driver.html" class="btn-big-title report__driver-link">Lista wszystkich tras</a>
          </button>
        </div>
        <div class="report__passenger">
          <button class="button-big">
            <a href="passanger.html" class="btn-big-title report__passenger-link"
            >trasy zgłoszone przeze mnie</a>
          </button>
        </div>
        <div class="report__passenger">
          <button class="button-big">
            <a href="passanger.html" class="btn-big-title report__passenger-link"
            >dodaj nową trasę</a>
          </button>
        </div>
        <div class="report__passenger">
          <button class="button-big">
            <a href="passanger.html" class="btn-big-title report__passenger-link"
            >moje trasy jako pasażer</a>
          </button>
        </div>
      </div>
    </section>
    <!-- ==================END REPORT==================== -->
  </main>

<%- include('footer') %>