.aboute__description {
  @include box;
  @include descriptions;
  // @include shadow-white;
  border: 1px solid $fourthly-color;
}

.aboute__description-second {
  @include box;
  @include descriptions;
  margin-top: 10px;
  border: 1px solid $fourthly-color;
}

@media screen and (min-width: 768px) {
  .aboute__description {
    @include box768;
    @include descriptions768;
    // @include shadow-white;
    border: 1px solid $fourthly-color;
  }
  
  .aboute__description-second {
    @include box768;
    @include descriptions768;
    margin-top: 20px;
    border: 1px solid $fourthly-color;
  }
}

@media screen and (min-width: 1200px) {
  .aboute__description {
    @include box1200;
    @include descriptions1200;
    // @include shadow-white;
    border: 1px solid $fourthly-color;
  }
  
  .aboute__description-second {
    @include box1200;
    @include descriptions1200;
    margin-top: 20px;
    border: 1px solid $fourthly-color;
  }
}