.reported-routes__header {
  @include headers-h3;
  color: $secondary-color;
}

.reported-routes__item {
  @include box;
  margin-bottom: 15px;
  text-align: left;
}

.reported-routes__record-item {
  margin-bottom: 15px;
}

.reported-routes__record-item-description {
  @include descriptions;
  padding-right: 20px
}

.reported-routes__record-item-content {
  // margin-left: 10px;
  @include description-second;
}

.description-third {
  @include descriptions;
  margin-left: 30px;
}

.reported-routes__record-buttons-space {
  display: flex;
  justify-content: space-between;
}

.reported-routes__record-btn-title {
  padding-left: 10px;
  padding-right: 10px;
}

.button-small--toggle-view {
  width: 180px;
  background-color: transparent;
  box-shadow: none;
  &:hover,
  &:focus {
    border: none;
    box-shadow: none;
  }
}

.btn-small-title--toggle-view {
  color: $thirdly-color;
  transition: all 500ms;
  &:hover,
  &:focus {
    color: $fourthly-color;
  }
}

@media screen and (min-width: 768px) {
  .reported-routes__header {
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .reported-routes__item {
    @include box768;
    margin-bottom: 15px;
    text-align: left;
  }  

  .reported-routes__record-item-description {
    @include descriptions768;
    line-height: 1.8;
    padding-right: 20px;
  }

  .reported-routes__record-item-content {
    margin-left: 20px;
    @include description-second;
  }

  .description-third {
    @include descriptions768;
    line-height: 1.3;
    margin-left: 120px;
  }
}