.reported-routes {
    background-image: linear-gradient(
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.9)), 
    url(../images/bc.jpg);
    background-repeat: repeat;
}

.reported-routes .container {
    // background-color: $thirdly-color;
    background-image: linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)), 
    url(../images/bc.jpg);
    background-repeat: repeat;
    padding: 20px
}

.reported-routes__header {
  margin-bottom: 15px;
}

