// =======================IS HIDDEN=========================
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 500ms;
}
// =======================IS HIDDEN END=========================



// ============================INDEX START===========================
.login-form__title {
  @include forms-title;
}

.register-form__title {
  @include forms-title;
}

.form-input {
  @include forms-input;
}

.form-space {
  @include forms-input-space;
  @include shadow-grey;
}
// ============================INDEX END===========================



// ============================DRIVER START===========================

.form-driver__title {
  @include forms-title;
}

.form-driver__subtitle {
  @include forms-subtitle;
  margin-left: 15px;
}

.form-driver__input {
  @include forms-input;
  @include shadow-grey;
}

.form-driver__input-space {
  // @include forms-input-space;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  // @include shadow-grey;
  margin-left: 15px;
  margin-bottom: 15px;
}

.form-driver__locality-place-stop {
@include shadow-grey;
}

#form-driver__locality-comment {
  min-height: 60px;
}

.form-driver__notice {
  letter-spacing: 2.8px;
  font-weight: 500;
  color: transparentize($color: $fourthly-color, $amount: 0.3);
  // color: rgba(228, 15, 15, 0.849);
}

.search-results__content {
  letter-spacing: 2px;
  font-weight: 500;
  color: $color-font-theme2;
  /* margin-right: 20px; */
}

.delete-my-choise-start,
.delete-my-choise-end {
  color: $fourthly-color;
  letter-spacing: 2.5px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 10px;
}

.form-driver__input-space--start-end {
  /* padding: 5px; */
  margin-top: 10px;
@include shadow-grey;
}

.form-driver__route-start-list,
.form-driver__route-end-list {
  background-color: $thirdly-color;
  /* border: 1px solid red; */
  border-radius: 6px;
}

.search-results-start__content-list,
.search-results-end__content-list {
  margin: 15px 15px;
  letter-spacing: 1.5px;
  border-bottom: 1px solid rgba(255, 0, 0, 0.596);
}

.form-driver__places-on-route-space-zone1,
.form-driver__places-on-route-space-zone2,
.form-driver__places-on-route-space-zone3 {
  letter-spacing: 1.5px;
  font-weight: 400;
  color: $color-font-theme2;
}

@media screen and (min-width: 768px) {
  .form-driver__input-space {
    // @include forms-input-space768;
    // -webkit-box-shadow: none;
    // -moz-box-shadow: none;
    // box-shadow: none;
    margin-left: 15px;
  }

  .form-driver__input {
    @include forms-input-space768;
  }
}